
<div class="show row">
  <% @album.each do |a| %>
  <div class="cover col-md-4"><img src="<%= a.cover %>" /> </div>

  <div class="col-sm-8">
    <h3 class="album-title"><%= a.title %></h3>
    <p class="album-artist"><%= a.artist %></p>

    <!--
    TODO: Loop through each track and display each one with this HTML
    -->
    
      <% @tracks.each do |track| %>
        <div class="track row">
          <div class="name col-md-8"><%= track.name %></div>
          <div class="minutes col-md-4"><%= track.minutes %> min</div>
        </div>
      <% end %>
  <% end %>
    
  </div>
</div>
